.ddsmoothmenu{

	padding:0px;  margin:0px;
	
}

.ddsmoothmenu ul{
z-index:100;
margin:0;
padding:0;  list-style:none;  width:100%;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float:left;line-height:40px;
margin:0;
padding:0;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#fff;
text-align:center;
line-height:35px;
font-weight:bold;
text-decoration:none;
padding-left:15px;padding-right:15px; display:block; font-weight:bold;
text-decoration:none;
text-transform:uppercase;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: white;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:#666; 
color: white;
}

.ddsmoothmenu ul li a:hover{
color:#FFF;
	background-color:#666;
	text-decoration:none;
}
.active{background-color:#666}
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0px  !important;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display:block;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
	float:left;
top: 0;
margin:0 !important;
padding:0 !important;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
width: 260px; /*width of sub menus*/
padding: 0px;
margin: 0px !important;
font-size:12px;
border-top-width: 0;
background:#666;
border-bottom: 1px solid gray;
line-height:25px;
text-align:left;
}
.ddsmoothmenu ul li ul li a:hover{
color:#fff;
	background-color:#2c0354;
	text-decoration:none;

}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0px !important;
top: 0px !important;
width: 0px !important;
height: 0px !important;
background: silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
opacity: 0.8;
}